# ============================================
# ETL PIPELINE (EV2)
# ============================================
pandas
sqlalchemy
psycopg2-binary
python-dotenv

# ============================================
# MODELO IA (EV3 - 3.1.1)
# ============================================
scikit-learn
joblib

# ============================================
# VISUALIZACION EDA (EV3 - 3.1.1)
# ============================================
matplotlib
seaborn

# ============================================
# DASHBOARD BI (EV3 - 3.4.1)
# ============================================
streamlit

# ============================================
# MONITOREO RENDIMIENTO (EV3 - 3.2.1)
# ============================================
psutil